.hidden {
  display: none;
}

body{
  background: linear-gradient(rgba(0, 0, 0, 0.3 ), rgba(0, 0, 0, 0.3)), url("https://download.unsplash.com/5/unsplash-kitsune-4.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}


h1.header {
  font-size: 18px;
  height: 30px;
}

h1{
  font-size: 40px;
  font-family: 'Comfortaa';
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 5px;
}

h2{
  font-family: "Avenir";
  font-weight: 100;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.warning {
  color: red;
  font-size: 9px;
}

.avatar {
  display: block;
  float: right;
  display: inline;

}

.details {
  float: left;
  display: inline;
  width: 200px;
  margin-left: 5px;
  margin-top: -4px;
}

.infos, .description, .tracks {
  display: block;
  position: relative;
  clear: both;
}

.description textarea {
  display: block;
  clear: both;
  width: 100%;
  height: 100px;
}

.clear {
  clear: both;
}

img{
  width: 100%;
  border-radius: 5px;
  margin: auto;
}

.disconnect{
  position: fixed;
  top: 0;
  right: 0;
  margin: 15px;
}

/*.connect{
  position: fixed;
  top: 0;
  left: 0;
  margin: 15px;
}
*/span {
  position: fixed;
  font-family: "Avenir";
  margin: 5px;
}


.space-inner-frame{
  /*background-color: rgba(0, 0, 0, 0.5);*/
  padding: 25px;
  color: white;
  border-radius: 3px;
}

.connect-frame{
  background-color: rgba(0, 0, 0, 0);
  padding: 0px;
  border-radius: 3px;
}

i{
  color: red;
}

a{
  color: black;
}

a:visited{
  color: black;
}

.madeBy{
  position: fixed;
  bottom: 0;
  right: 0;
}
input{
  background-color: #FD5009;
  font-family: "Helvetica Neue";
  font-weight: 200;
  font-size: 14px;
  letter-spacing: 2px;
  color: white;
  width: 100%;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 2px 10px;
  height: 26px;
  line-height: 20px;
  box-sizing: border-box;
  vertical-align: baseline;
  white-space: nowrap;

}


